<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-8">
		<table class="table table-hover">
			<thead>
			        <tr>
			          <th>#</th>
			          <th>Image</th>
			          <th>Type</th>
			          <th>Created @</th>
			          <th>Updated @</th>
			          <th>Status</th>
			        </tr>
			</thead>
			<tbody>
				<% @operations.each do |op| %>
			        <tr>
			          <th scope="row"><%= op.id %></th>
			          <td><%= op.image_id %></td>
			          <td><%= op.operation_type %></td>
			          <td><%= op.created_at %></td>
			          <td><%= op.updated_at %></td>
			          <td><%= op.status %></td>
			        </tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-xs-3"></div>
</div>
