<% if @unprocessed_images.count == 0 %>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-8 img-box">
				<h4>No images to process.</h4>
		</div>
	</div>
<% else %>	
	<% @unprocessed_images.each do |pi| %>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-8 img-box">
	  	  		<div class="img-box-controls"><i class="fa fa-circle-o-notch fa-spin" id="loader-<%= pi.id %>" style="display:none;"></i>
					<%= link_to "process", processs_path(id: pi.id), remote: true %></div>
	  			<div class="img-box-img" id="img-<%= pi.id %>" style="display:none;">
					<img src="imgs/<%= pi.id %>_resized.png">
					<% if pi.resized_src.nil? %>
						<script>pollIt('<%= pi.id %>')</script>
					<% else %>
						<script>$('#img-'+'<%= pi.id %>').show()</script>
					<% end %>
				</div>
			</div>
			<div class="col-xs-3"></div>
		</div>
	<% end %>	
<% end %>
