<!DOCTYPE html>
<html>
<head>
  <title>Imagogo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar brand: "Imagogo", brand_link: play_index_path, responsive: true do %>
    <%= menu_group do %>
    	<%= menu_item "unprocessed", unprocessed_path %>
        <%= menu_item "operations", op_index_path %>
    <% end %>
<% end%>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-8">
		<%= form_tag(upload_path, :method => 'post', multipart: true) do %>
			<label class="btn btn-lg btn-secondary" for="image">
			<%= file_field_tag :image, accept: 'image/png,image/gif,image/jpeg',  style: 'display:none;', onchange: "this.form.submit();" %>upload image</label>
		<% end %>
	</div>
	<div class="col-xs-3"></div>
</div>

<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-8">
	</div>
</div>

<%= yield %>

</body>
</html>
